.wrap-index-cards-section {
  max-height: 56vh;
  overflow-y: scroll !important;
}

.index-title-1 {
  margin-bottom: -5px;
  h2 {
    font-size: 22px;
    font-weight: 700;
  }
  .hline-2 {
    width: 15%;
    background-color: #ff7700;
    height: 2px;
    opacity: 1;
  }
}
