.navbar-lewagon {
  justify-content: space-between;
  background: #ff7700;
}

.navbar-lewagon .navbar-collapse {
  background: black;
  flex-grow: 0;
  margin: 20px 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-dark .navbar-toggler {
  border: none;
}
// background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);

.navbar-nav {
  padding: 20px 20px;
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  float: right;
}

.navbar-dark .navbar-nav .nav-link {
  float: right;
}

.avatar {
  float: right;
}

.logo-nav {
  color: white;
}

.logo-2 {
  width: 170px;
}
.logo-2-login {
  width: 210px;
}

.logo-3 {
  width: 130px;
  margin-bottom: 15px;
  margin-left: -10px;
}
