<div class="mobile-nav d-flex justify-content-around w-100">
  <div class="icon">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>
  </div>
  <div class="icon">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
  </div>
</div>
