// Define variables for your color scheme

// For example:
$red: #FF7700;
$blue: #167ffb;
$yellow: #158596;
$orange: #e67e22;
$green: #CCD623;
$gray: #0e0000;
$light-gray: #f4f4f4;
$black: #000000;
$white: #ffffff;
